@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Didact+Gothic&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Importing DM-Sans, Abril Fatface, Lato, Didact Gothic, Source Serif Pro from Google Fonts */

:root {
    --border-width: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', sans-serif;
}

body {
    background-color: #2f4f4f;
}

header {
    font-size: 60px;
    color: orange;
    border: var(--border-width) solid black;
}

.score-container {
    width: fit-content;
    margin: auto;
    border: var(--border-width) solid black;
}


.score-title, .highscore-title {
    font-size: 25px;
    font-weight: 100;
}

#score, #highscore {
    display: inline;
    color: grey;
}

main {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    border: var(--border-width) solid black;
}

.game-over-banner {
    border: var(--border-width) solid black;
    border-radius: 10px;
    width: 432px;
    height: 432px;
    font-size: 40px;
    position: absolute;
    z-index: 10;
    background: beige;
    top: -200vh;
    transition: 1s;
    text-align: center;
}

.game-over-banner.active {
    top: 0;
}

.game-over-banner > h1 {
    margin-top: auto;
    margin-bottom: auto;
}

.game-over-banner > button {
    width: 75%;
    margin: auto;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    transition: 0.2s;
}

.game-over-banner > button:hover {
    opacity: 0.7;
}



.table {
    background-color: grey;;
    border-radius: 10px;
    border: var(--border-width) solid black;
    position: relative;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    
}

.cell {
    margin: 3px;
    /* border: 2px solid black; */
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background: beige;
    position: relative;
}

.first-row > .cell {
    margin-top: 6px;
}

.last-row > .cell {
    margin-bottom: 6px;
}
.cell:nth-child(1) {
    margin-left: 6px;
}
.cell:nth-child(4) {
    margin-right: 6px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background-color: green;
    transition: all 0.5s ease;
    z-index: 8;
}

.number > .value {
    font-size: 40px;
}

.btn-container {
    display: none;
}

#color-btn{
    position: fixed;
    bottom: 50%;
    right: 0;
    background-color: orange;
    border: none;
}

#help-btn{
    position: fixed;
    top: 0%;
    right: 0;
    background-color: orange;
    border: none;
}

@media (max-width: 990px) {
    .btn-container {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        margin-bottom: auto;
        border: var(--border-width) solid black;
    }

    .btn-container > button {
        background-color: orange;
        border: none;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        font-size: 28px;
        transition: 0.2s;
        font-weight: bold;
    }

    .btn-container > button:active {
        opacity: 0.4;
        background-color: orangered;
    }
}

@media (max-width: 700px) {
    .side-btn{
        display: none;
    }
}