* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
main {
    margin: auto;
    display: grid;
    width: 70vw;
    height: 53vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid black;
} */

body {
    display: flex;
}

.table {
    border: 0px solid orange;
    background-color: grey;;
    border-radius: 10px;
}

main {
    margin: auto;
    margin-top: 120px;
}

.row {
    display: flex;
}

.cell {
    margin: 3px;
    /* border: 2px solid black; */
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background: beige;
    position: relative;
}

.first-row > .cell {
    margin-top: 6px;
}

.last-row > .cell {
    margin-bottom: 6px;
}
.cell:nth-child(1) {
    margin-left: 6px;
}
.cell:nth-child(4) {
    margin-right: 6px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background-color: green;
    transition: all 0.5s ease;
    z-index: 8;
}

.number > .value {
    font-size: 40px;
}

